.move
  color aquamarine
  position absolute
  top 10px
  left 100%
  margin-right:5px
  background:rgba(0,0,0,0.3)
.moveTo
  animation: moveTo 10s linear
@keyframes moveTo
  0% {
    left 100%
    right 0
  }
  100% {
    left 0
    right 100%
  }